<form action="https://getsimpleform.com/messages?form_api_token=cf52bbd11a2610a28e7f986a8ac00276" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value="http://timposu.com/contact/success/" />
  <!-- all your input fields here.... -->
  <input type='text' name='nama' placeholder='Nama' required />
  <input type='email' name='email' placeholder='Email' autocomplete='off' required />
  <input type='text' name='judul' placeholder='Judul' required />
  <textarea name='pesan' placeholder='Pesan' rows='10' required></textarea>
  <input type='submit' value='Kirim' />
</form>
