<!-- /. Menu Dropdown-->
<div id='cssmenu'>
   <ul>
      <li><a href='#'>Pemrograman</a>
         <ul>
            <li><a href='#'>Java</a>
               <ul>
                  <li><a href='/tutorial-java/'>Java Core</a></li>
                  <li><a href='/comming-soon/'>Java Swing</a></li>
                  <li><a href='/comming-soon/'>Java EE</a></li>
                  <li><a href='/comming-soon/'>Spring</a></li>
                  <li><a href='/comming-soon/'>Hibernate</a></li>
               </ul>
            </li>
            <li><a href='/comming-soon/'>Android</a></li>
            <li><a href='#'>Javascript</a>
               <ul>
                  <li><a href='/comming-soon/'>AJAX</a></li>
                  <li><a href='/comming-soon/'>JSON</a></li>
                  <li><a href='/comming-soon/'>JQuery</a></li>
                  <li><a href='/comming-soon/'>AngularJS</a></li>
               </ul>
            </li>
            <li><a href='/comming-soon/'>PHP</a></li>
         </ul>
      </li>
      <li><a href='#'>Linux Server</a>
         <ul>
            <li><a href='#'>Centos</a>
              <ul>
                 <li><a href='/comming-soon/'>Centos 7</a></li>
              </ul>
            </li>
            <li><a href='#'>Fedora</a>
              <ul>
                 <li><a href='/comming-soon/'>Fedora 23</a></li>
              </ul>
            </li>
            <li><a href='#'>Ubuntu</a>
              <ul>
                 <li><a href='/comming-soon/'>Ubuntu 16.04</a></li>
              </ul>
            </li>
         </ul>
      </li>
      <li><a href='#'>Database</a>
         <ul>
            <li><a href='/comming-soon/'>MySQL</a></li>
            <li><a href='/tutorial-mongodb'>MongoDB</a></li>
         </ul>
      </li>
      <li><a href='#'>Tutorial Lain</a>
         <ul>
            <li><a href='/tutorial-sms-gateway'>SMS Gateway</a></li>
         </ul>
      </li>
      <li><a href='/contact'>Kontak</a></li>
   </ul>
</div>
<!-- End Menu Dropdown-->
